<div class="digitalClock" (keydown.enter)="saveAll()">
    <h1 class="title">
        London Clock
    </h1>
    <div class="digitalTime">
        <input class="time" type="text" [(ngModel)]="hourStr" (click)="stopCounting()">
        <span>:</span>
        <input class="time" type="text" [(ngModel)]="minuteStr" (click)="stopCounting()">
        <span>:</span>
        <input class="time" type="text" [(ngModel)]="secondStr" (click)="stopCounting()">
        <input class="time" type="text" [(ngModel)]="ampmStr" (click)="stopCounting()">
    </div>
</div>